### Alternate specification

Here, instead of just the raw TMDs, we consider the *differences* between [Soviet TMD] and [non-Sov TMD]

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

import trglobals

In [3]:
cap_df = trglobals.gen_cap_df()

In [4]:
cap_df

            en_aveling  en_fowkes        kk        ru        vi        zh
Capital V1    1.128425   1.121938  1.338835  0.966975  1.139451  1.154967