In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os

import pandas as pd

In [3]:
gdp_fpath = "../data01_Raw/GDP/Agriculture_GDP_World_Bank.xlsx"

In [4]:
gdp_df = pd.read_excel(gdp_fpath)

In [5]:
gdp_df

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,..,..,..,..,..,..,...,24.390874,22.810663,22.137041,20.634323,25.740314,26.420199,22.042897,25.773971,26.8206,..
1,Africa Eastern and Southern,AFE,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,..,..,..,..,..,..,...,10.809624,11.139972,11.91545,12.762394,12.847244,12.545027,11.987675,12.502325,14.665698,..
2,Africa Western and Central,AFW,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,..,..,..,..,..,..,...,21.080401,20.126763,19.652742,20.590106,21.006218,20.805289,20.931406,21.257161,23.004831,..
3,Albania,ALB,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,..,..,..,..,..,..,...,18.766802,19.565158,19.990181,19.780214,19.849994,19.022149,18.429479,18.391244,19.121963,..
4,Algeria,DZA,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,..,..,..,..,..,..,...,8.770686,9.851117,10.286397,11.578707,12.220095,11.755903,11.874201,12.336212,14.134793,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,Last Updated: 04/27/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Find the first entry for all countries
first_data = {}
for row_index, row in gdp_df.iterrows():
    # I know this is brute force but... oh well
    country_name = row['Country Name']
    #if country_name != "Burkina Faso":
    #    continue
    for cur_yr in range(1960, 2022):
        col_str = f"{cur_yr} [YR{cur_yr}]"
        row_val = row[col_str]
        #print(f"{country_name} {col_str} = {row_val}")
        if row_val != "..":
            # We found the first non-missing entry
            first_data[country_name] = (cur_yr, row_val)
            break

In [7]:
first_df = pd.DataFrame.from_dict(first_data, orient="index")

In [8]:
first_df.columns = ['year', 'ag_pct']

In [9]:
first_df.sort_values(by='ag_pct', ascending=False)

                                                  year     ag_pct
Lesotho                                           1960  88.184615
Liberia                                           2000  76.074542
Niger                                             1960  75.324070
Rwanda                                            1965  74.791704
Oman                                              1961  74.233129
...                                                ...        ...
Hong Kong SAR, China                              2000   0.087327
San Marino                                        2015   0.020054
NaN                                               1960        NaN
Data from database: World Development Indicators  1960        NaN
Last Updated: 04/27/2022                          1960        NaN

[255 rows x 2 columns]

In [11]:
ranked_fpath = "../data01_Raw/GDP/GDP_first_ranked.csv"
first_df.to_csv(ranked_fpath)
first_df.to_pickle(ranked_fpath.replace(".csv",".pkl"))

In [27]:
def get_country_data(df, country_name):
    print(country_name)
    # Keep just one country
    country_df = gdp_df[gdp_df['Country Name'] == country_name].copy().melt()
    # Transform to long format
    country_df = country_df[country_df['value'] != ".."].copy()
    # Keep just year and value rows
    country_df = country_df.loc[country_df['variable'].str.startswith('19') | country_df['variable'].str.startswith('20')].copy()
    first_row = country_df.iloc[0]
    last_row = country_df.iloc[-1]
    first_yr = first_row['variable'].split()[0]
    last_yr = last_row['variable'].split()[0]
    first_ag = first_row['value']
    last_ag = last_row['value']
    country_data = {
        'name': country_name,
        'df': country_df,
        'first_year': first_yr,
        'first_ag': first_ag,
        'last_year': last_yr,
        'last_ag': last_ag,
    }
    return country_data

In [28]:
data_map = {langcode: get_country_data(gdp_df, country) for langcode, country in country_map.items()}

Ethiopia
Germany
Greece
United States
Cuba
Iran, Islamic Rep.
Hungary
Armenia
Italy
Georgia
Mongolia
Romania
Russian Federation
Vietnam
China

In [29]:
ag_estimates = {langcode: (data['first_year'],data['first_ag']) for langcode, data in data_map.items()}

In [30]:
ag_estimates

{'am': ('1981', 54.73913635210796),
 'de': ('1991', 1.101526043637281),
 'el': ('1995', 7.375806358492404),
 'en': ('1997', 1.3369117103816948),
 'es': ('1970', 12.121357275415804),
 'fa': ('1960', 25.900601532239886),
 'hu': ('1995', 7.178038555068181),
 'hy': ('2012', 17.912681952639666),
 'it': ('1990', 3.182368676759932),
 'ka': ('1980', 23.008849557522122),
 'mn': ('1981', 16.742788220643867),
 'ro': ('1990', 21.809068656020518),
 'ru': ('1989', 15.602094240837697),
 'vi': ('1985', 40.17093765286004),
 'zh': ('1960', 23.175294197673626)}

In [14]:
# Now convert to df
ag_df = pd.DataFrame.from_dict(ag_estimates, orient='index')

In [15]:
ag_df.columns = ["year","ag_pct"]

In [16]:
gdp_path = "./gdp_stats/"
if not os.path.isdir(gdp_path):
    os.mkdir(gdp_path)

In [17]:
ag_df.to_pickle("./gdp_stats/ag_pct.pkl")

In [18]:
data_map['vi']['first_year']

'1985'

In [19]:
data_map['vi']['first_ag']

40.17093765286004

In [20]:
data_map

{'am': {'name': 'Ethiopia',
  'df':          variable      value
  25  1981 [YR1981]  54.739136
  26  1982 [YR1982]   53.25651
  27  1983 [YR1983]  54.377092
  28  1984 [YR1984]  47.898258
  29  1985 [YR1985]  52.578448
  30  1986 [YR1986]  50.986366
  31  1987 [YR1987]   49.12477
  32  1988 [YR1988]  48.593054
  33  1989 [YR1989]  48.390914
  34  1990 [YR1990]  49.491248
  35  1991 [YR1991]  58.666062
  36  1992 [YR1992]  63.831336
  37  1993 [YR1993]  59.945298
  38  1994 [YR1994]  52.699451
  39  1995 [YR1995]  51.924704
  40  1996 [YR1996]  51.165368
  41  1997 [YR1997]  54.028989
  42  1998 [YR1998]  49.061908
  43  1999 [YR1999]  45.485463
  44  2000 [YR2000]  44.666018
  45  2001 [YR2001]  42.340571
  46  2002 [YR2002]  38.692372
  47  2003 [YR2003]  37.285055
  48  2004 [YR2004]  38.679755
  49  2005 [YR2005]  41.174499
  50  2006 [YR2006]   42.52417
  51  2007 [YR2007]  42.265012
  52  2008 [YR2008]  45.184558
  53  2009 [YR2009]  45.882694
  54  2010 [YR2010]   41.44682
  55  2011 [YR2011]  41.249964
  56  2012 [YR2012]  44.330943
  57  2013 [YR2013]  41.239506
  58  2014 [YR2014]   38.52045
  59  2015 [YR2015]  36.056975
  60  2016 [YR2016]   34.69888
  61  2017 [YR2017]  33.779281
  62  2018 [YR2018]  31.111929
  63  2019 [YR2019]  33.521072
  64  2020 [YR2020]  35.451406,
  'first_year': '1981',
  'first_ag': 54.73913635210796,
  'last_year': '2020',
  'last_ag': 35.45140633052479},
 'de': {'name': 'Germany',
  'df':          variable     value
  35  1991 [YR1991]  1.101526
  36  1992 [YR1992]  1.005429
  37  1993 [YR1993]  0.961568
  38  1994 [YR1994]   0.97554
  39  1995 [YR1995]  0.995456
  40  1996 [YR1996]  1.042168
  41  1997 [YR1997]  1.031385
  42  1998 [YR1998]  0.975318
  43  1999 [YR1999]  0.958397
  44  2000 [YR2000]  0.994789
  45  2001 [YR2001]  1.083432
  46  2002 [YR2002]  0.900497
  47  2003 [YR2003]  0.832259
  48  2004 [YR2004]  0.951063
  49  2005 [YR2005]  0.726956
  50  2006 [YR2006]  0.737585
  51  2007 [YR2007]   0.77886
  52  2008 [YR2008]   0.83833
  53  2009 [YR2009]  0.695334
  54  2010 [YR2010]  0.803697
  55  2011 [YR2011]  0.910022
  56  2012 [YR2012]  0.847919
  57  2013 [YR2013]  0.942643
  58  2014 [YR2014]  0.904548
  59  2015 [YR2015]  0.684692
  60  2016 [YR2016]  0.698431
  61  2017 [YR2017]  0.851749
  62  2018 [YR2018]  0.689013
  63  2019 [YR2019]  0.778989
  64  2020 [YR2020]   0.73531,
  'first_year': '1991',
  'first_ag': 1.101526043637281,
  'last_year': '2020',
  'last_ag': 0.7353098385774864},
 'el': {'name': 'Greece',
  'df':          variable     value
  39  1995 [YR1995]  7.375806
  40  1996 [YR1996]  6.584926
  41  1997 [YR1997]  6.241636
  42  1998 [YR1998]  5.965048
  43  1999 [YR1999]  5.783495
  44  2000 [YR2000]  5.435248
  45  2001 [YR2001]  5.202702
  46  2002 [YR2002]  4.987114
  47  2003 [YR2003]  4.999784
  48  2004 [YR2004]  4.275408
  49  2005 [YR2005]  4.284224
  50  2006 [YR2006]  3.201238
  51  2007 [YR2007]  3.037348
  52  2008 [YR2008]   2.80725
  53  2009 [YR2009]  2.804954
  54  2010 [YR2010]  2.988333
  55  2011 [YR2011]  3.113752
  56  2012 [YR2012]  3.441069
  57  2013 [YR2013]  3.382603
  58  2014 [YR2014]  3.584134
  59  2015 [YR2015]  3.864703
  60  2016 [YR2016]   3.51534
  61  2017 [YR2017]  3.856389
  62  2018 [YR2018]  3.635408
  63  2019 [YR2019]  3.779625
  64  2020 [YR2020]  4.230805,
  'first_year': '1995',
  'first_ag': 7.375806358492404,
  'last_year': '2020',
  'last_ag': 4.2308045524990385},
 'en': {'name': 'United States',
  'df':          variable     value
  41  1997 [YR1997]  1.336912
  42  1998 [YR1998]  1.213997
  43  1999 [YR1999]  1.151183
  44  2000 [YR2000]  1.150456
  45  2001 [YR2001]  1.129326
  46  2002 [YR2002]  0.970431
  47  2003 [YR2003]  1.115257
  48  2004 [YR2004]   1.25866
  49  2005 [YR2005]  1.142255
  50  2006 [YR2006]  1.000678
  51  2007 [YR2007]  1.066822
  52  2008 [YR2008]  1.065783
  53  2009 [YR2009]  0.968573
  54  2010 [YR2010]  1.042481
  55  2011 [YR2011]  1.216488
  56  2012 [YR2012]  1.158829
  57  2013 [YR2013]  1.333514
  58  2014 [YR2014]  1.185571
  59  2015 [YR2015]  1.043866
  60  2016 [YR2016]  0.943989
  61  2017 [YR2017]  0.949806
  62  2018 [YR2018]   0.92056
  63  2019 [YR2019]  0.916865,
  'first_year': '1997',
  'first_ag': 1.3369117103816948,
  'last_year': '2019',
  'last_ag': 0.9168652210672991},
 'es': {'name': 'Cuba',
  'df':          variable      value
  14  1970 [YR1970]  12.121357
  15  1971 [YR1971]  12.119041
  16  1972 [YR1972]  12.118914
  17  1973 [YR1973]  12.123242
  18  1974 [YR1974]  12.132595
  19  1975 [YR1975]  12.112992
  20  1976 [YR1976]  12.107465
  21  1977 [YR1977]  12.118276
  22  1978 [YR1978]  12.144883
  23  1979 [YR1979]  12.179363
  24  1980 [YR1980]  12.014972
  25  1981 [YR1981]  12.079831
  26  1982 [YR1982]   12.17233
  27  1983 [YR1983]  12.277919
  28  1984 [YR1984]  12.351761
  29  1985 [YR1985]  11.193022
  30  1986 [YR1986]  12.404123
  31  1987 [YR1987]  12.634828
  32  1988 [YR1988]   12.80586
  33  1989 [YR1989]  12.720974
  34  1990 [YR1990]  13.040549
  35  1991 [YR1991]  12.775947
  36  1992 [YR1992]  12.426619
  37  1993 [YR1993]   9.571153
  38  1994 [YR1994]   7.899808
  39  1995 [YR1995]   6.883298
  40  1996 [YR1996]   7.133444
  41  1997 [YR1997]   7.186811
  42  1998 [YR1998]   6.117422
  43  1999 [YR1999]    6.12418
  44  2000 [YR2000]   6.601255
  45  2001 [YR2001]   6.379567
  46  2002 [YR2002]   5.945729
  47  2003 [YR2003]   5.745212
  48  2004 [YR2004]   5.474439
  49  2005 [YR2005]   4.363652
  50  2006 [YR2006]   3.405015
  51  2007 [YR2007]   3.908102
  52  2008 [YR2008]   3.817039
  53  2009 [YR2009]   3.930412
  54  2010 [YR2010]   3.614289
  55  2011 [YR2011]    3.60487
  56  2012 [YR2012]   3.850098
  57  2013 [YR2013]   3.924924
  58  2014 [YR2014]   3.937711
  59  2015 [YR2015]   3.835516
  60  2016 [YR2016]    3.93893
  61  2017 [YR2017]   3.800684
  62  2018 [YR2018]   3.783108
  63  2019 [YR2019]   3.567699
  64  2020 [YR2020]   2.761942,
  'first_year': '1970',
  'first_ag': 12.121357275415804,
  'last_year': '2020',
  'last_ag': 2.7619420225054028},
 'fa': {'name': 'Iran, Islamic Rep.',
  'df':          variable      value
  4   1960 [YR1960]  25.900602
  5   1961 [YR1961]  24.902568
  6   1962 [YR1962]  23.827496
  7   1963 [YR1963]  22.257218
  8   1964 [YR1964]  20.766066
  ..            ...        ...
  60  2016 [YR2016]   9.637365
  61  2017 [YR2017]   9.499745
  62  2018 [YR2018]   9.936335
  63  2019 [YR2019]   12.18188
  64  2020 [YR2020]  11.318761

  [61 rows x 2 columns],
  'first_year': '1960',
  'first_ag': 25.900601532239886,
  'last_year': '2020',
  'last_ag': 11.318761122702565},
 'hy': {'name': 'Armenia',
  'df':          variable      value
  56  2012 [YR2012]  17.912682
  57  2013 [YR2013]  18.434763
  58  2014 [YR2014]  18.072036
  59  2015 [YR2015]   17.22312
  60  2016 [YR2016]  16.390474
  61  2017 [YR2017]   14.99426
  62  2018 [YR2018]  13.942312
  63  2019 [YR2019]  11.525611
  64  2020 [YR2020]  11.213424,
  'first_year': '2012',
  'first_ag': 17.912681952639666,
  'last_year': '2020',
  'last_ag': 11.21342390635557},
 'it': {'name': 'Italy',
  'df':          variable     value
  34  1990 [YR1990]  3.182369
  35  1991 [YR1991]  3.239189
  36  1992 [YR1992]  3.117911
  37  1993 [YR1993]  2.998568
  38  1994 [YR1994]  2.991601
  39  1995 [YR1995]  2.977708
  40  1996 [YR1996]  2.974588
  41  1997 [YR1997]  2.861912
  42  1998 [YR1998]  2.768857
  43  1999 [YR1999]  2.722232
  44  2000 [YR2000]  2.563614
  45  2001 [YR2001]  2.489631
  46  2002 [YR2002]  2.371382
  47  2003 [YR2003]  2.357959
  48  2004 [YR2004]  2.347033
  49  2005 [YR2005]  2.033595
  50  2006 [YR2006]   1.94584
  51  2007 [YR2007]  1.896287
  52  2008 [YR2008]  1.874624
  53  2009 [YR2009]  1.802739
  54  2010 [YR2010]  1.775515
  55  2011 [YR2011]  1.883426
  56  2012 [YR2012]  1.970753
  57  2013 [YR2013]   2.14459
  58  2014 [YR2014]  1.997861
  59  2015 [YR2015]  2.065237
  60  2016 [YR2016]  1.928373
  61  2017 [YR2017]  1.972685
  62  2018 [YR2018]   1.94542
  63  2019 [YR2019]  1.908381
  64  2020 [YR2020]  1.987092,
  'first_year': '1990',
  'first_ag': 3.182368676759932,
  'last_year': '2020',
  'last_ag': 1.9870919845774362},
 'ka': {'name': 'Georgia',
  'df':          variable      value
  24  1980 [YR1980]   23.00885
  25  1981 [YR1981]  23.577236
  26  1982 [YR1982]  21.538462
  27  1983 [YR1983]  21.969697
  28  1984 [YR1984]  24.285714
  29  1985 [YR1985]  24.285714
  30  1986 [YR1986]  24.817518
  31  1987 [YR1987]  22.535211
  32  1988 [YR1988]   22.60274
  33  1989 [YR1989]  21.527778
  34  1990 [YR1990]         30
  35  1991 [YR1991]    26.5625
  36  1992 [YR1992]  52.345845
  40  1996 [YR1996]  33.152385
  41  1997 [YR1997]  27.506641
  42  1998 [YR1998]  26.244002
  43  1999 [YR1999]  24.721718
  44  2000 [YR2000]  20.602009
  45  2001 [YR2001]  20.961942
  46  2002 [YR2002]   19.24088
  47  2003 [YR2003]  19.301503
  48  2004 [YR2004]  16.395061
  49  2005 [YR2005]   14.76994
  50  2006 [YR2006]  11.198776
  51  2007 [YR2007]   9.195707
  52  2008 [YR2008]   8.131628
  53  2009 [YR2009]   8.101301
  54  2010 [YR2010]   8.450801
  55  2011 [YR2011]   9.131942
  56  2012 [YR2012]   8.175618
  57  2013 [YR2013]   8.616414
  58  2014 [YR2014]   8.526218
  59  2015 [YR2015]   7.813762
  60  2016 [YR2016]   7.296573
  61  2017 [YR2017]   6.240187
  62  2018 [YR2018]   6.762199
  63  2019 [YR2019]   6.504589
  64  2020 [YR2020]   7.288668,
  'first_year': '1980',
  'first_ag': 23.008849557522122,
  'last_year': '2020',
  'last_ag': 7.28866812979586},
 'mn': {'name': 'Mongolia',
  'df':          variable      value
  25  1981 [YR1981]  16.742788
  26  1982 [YR1982]  18.036415
  27  1983 [YR1983]  18.415364
  28  1984 [YR1984]  17.200929
  29  1985 [YR1985]  16.400703
  30  1986 [YR1986]  18.669528
  31  1987 [YR1987]  16.417568
  32  1988 [YR1988]   16.62938
  33  1989 [YR1989]  15.515007
  34  1990 [YR1990]  12.473837
  35  1991 [YR1991]   11.81157
  36  1992 [YR1992]  25.557106
  37  1993 [YR1993]  25.709365
  38  1994 [YR1994]  27.482614
  39  1995 [YR1995]  32.542825
  40  1996 [YR1996]  38.477005
  41  1997 [YR1997]  32.236884
  42  1998 [YR1998]  32.433369
  43  1999 [YR1999]  31.697833
  44  2000 [YR2000]  27.422531
  45  2001 [YR2001]  22.968888
  46  2002 [YR2002]  18.919125
  47  2003 [YR2003]  18.439517
  48  2004 [YR2004]  20.029777
  49  2005 [YR2005]   19.79796
  50  2006 [YR2006]  17.643671
  51  2007 [YR2007]  18.427965
  52  2008 [YR2008]  19.215125
  53  2009 [YR2009]  17.864438
  54  2010 [YR2010]  11.732563
  55  2011 [YR2011]  10.307357
  56  2012 [YR2012]  11.258025
  57  2013 [YR2013]  13.414062
  58  2014 [YR2014]  13.341221
  59  2015 [YR2015]  14.079203
  60  2016 [YR2016]  12.627844
  61  2017 [YR2017]  11.137233
  62  2018 [YR2018]  11.428005
  63  2019 [YR2019]  11.558383
  64  2020 [YR2020]  12.965656,
  'first_year': '1981',
  'first_ag': 16.742788220643867,
  'last_year': '2020',
  'last_ag': 12.965656303285922},
 'ru': {'name': 'Russian Federation',
  'df':          variable      value
  33  1989 [YR1989]  15.602094
  34  1990 [YR1990]  15.461037
  35  1991 [YR1991]  13.771898
  36  1992 [YR1992]   7.263364
  37  1993 [YR1993]   7.557204
  38  1994 [YR1994]   6.109561
  39  1995 [YR1995]   6.692231
  40  1996 [YR1996]   6.549375
  41  1997 [YR1997]   5.869762
  42  1998 [YR1998]   5.103393
  43  1999 [YR1999]   6.580648
  44  2000 [YR2000]   5.751716
  45  2001 [YR2001]   5.875722
  46  2002 [YR2002]   5.565714
  47  2003 [YR2003]   5.502946
  48  2004 [YR2004]   4.904442
  49  2005 [YR2005]   4.255916
  50  2006 [YR2006]   3.861312
  51  2007 [YR2007]   3.778902
  52  2008 [YR2008]   3.753341
  53  2009 [YR2009]   4.084449
  54  2010 [YR2010]   3.343898
  55  2011 [YR2011]   3.150726
  56  2012 [YR2012]   2.926031
  57  2013 [YR2013]     2.9936
  58  2014 [YR2014]   3.360605
  59  2015 [YR2015]   3.873104
  60  2016 [YR2016]   3.840217
  61  2017 [YR2017]   3.553632
  62  2018 [YR2018]   3.394255
  63  2019 [YR2019]   3.495567
  64  2020 [YR2020]   3.700196,
  'first_year': '1989',
  'first_ag': 15.602094240837697,
  'last_year': '2020',
  'last_ag': 3.7001961201672184},
 'vi': {'name': 'Vietnam',
  'df':          variable      value
  29  1985 [YR1985]  40.170938
  30  1986 [YR1986]  38.063439
  31  1987 [YR1987]  40.557491
  32  1988 [YR1988]  46.297017
  33  1989 [YR1989]  42.067419
  34  1990 [YR1990]  38.736742
  35  1991 [YR1991]  40.489134
  36  1992 [YR1992]  33.938588
  37  1993 [YR1993]  29.869954
  38  1994 [YR1994]  27.427829
  39  1995 [YR1995]  27.182689
  40  1996 [YR1996]  27.758826
  41  1997 [YR1997]  25.771707
  42  1998 [YR1998]   25.78078
  43  1999 [YR1999]  25.434438
  44  2000 [YR2000]  24.534582
  45  2001 [YR2001]  23.241048
  46  2002 [YR2002]  23.029442
  47  2003 [YR2003]  22.542437
  48  2004 [YR2004]  21.807699
  49  2005 [YR2005]  19.299979
  50  2006 [YR2006]  18.726785
  51  2007 [YR2007]    18.6551
  52  2008 [YR2008]  20.413144
  53  2009 [YR2009]   19.16846
  54  2010 [YR2010]  18.378481
  55  2011 [YR2011]  19.567751
  56  2012 [YR2012]  19.221401
  57  2013 [YR2013]  17.963586
  58  2014 [YR2014]    17.6992
  59  2015 [YR2015]  16.992212
  60  2016 [YR2016]  16.319644
  61  2017 [YR2017]  15.344883
  62  2018 [YR2018]  14.681979
  63  2019 [YR2019]  13.956476
  64  2020 [YR2020]  14.853162,
  'first_year': '1985',
  'first_ag': 40.17093765286004,
  'last_year': '2020',
  'last_ag': 14.853161654466884},
 'zh': {'name': 'China',
  'df':          variable      value
  4   1960 [YR1960]  23.175294
  5   1961 [YR1961]  35.794855
  6   1962 [YR1962]  38.986405
  7   1963 [YR1963]  39.854202
  8   1964 [YR1964]  38.029798
  ..            ...        ...
  60  2016 [YR2016]   8.057288
  61  2017 [YR2017]   7.463565
  62  2018 [YR2018]    7.04302
  63  2019 [YR2019]   7.143691
  64  2020 [YR2020]   7.653067

  [61 rows x 2 columns],
  'first_year': '1960',
  'first_ag': 23.175294197673626,
  'last_year': '2020',
  'last_ag': 7.653066547557437}}